.box {
  position: relative;
  width: 500px;
  margin: auto;
  text-align: left;
  background: #f5f5f5;
  padding: 45px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.custom-control-label,
.box label,
h3 {
  color: #191919;
}

/* Federation Designs */
.box-fed {
  position: relative;
  width: 600px;
  margin: auto;
  text-align: left;
  background: #f5f5f5;
  padding: 45px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.box-fed h3 {
  text-align: center;
  color: #191919;
  padding-bottom: 15px;
}
.box-fed label {
  margin-left: 10px;
  padding-bottom: 3px;
  text-align: left;
  color: #00235b;
}
.box-fed h5 {
  margin-left: 10px;
  padding-bottom: 7px;
  text-align: left;
  color: #3a1078;
}

/* encryption */

.text-top {
  width: 100%;
  height: 75px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.text-bottom {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* decryption */

.hash {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  /* padding-bottom: 2px; */
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.plain {
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* Home */

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #e8e8e8;
  color: #1b262c;
}
.about-section h1,
h3 {
  color: #142850;
}

.apis {
  padding: 10px;
  text-align: center;
}

.err-msg {
  color: #cc0033;
  margin-left: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  /* font-weight: bold; */
  line-height: 20px;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
}

/* Buttons */

.button-1 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #7286d3;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 80%;
  height: 30px;
  line-height: 1.15;
  margin: auto;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
}

.button-1:disabled {
  cursor: default;
}

.button-1:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Copy */
.copy {
  position: relative;
}
.copy button {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 36px;
  height: 36px;
  color: #0a0a0a;
  background: #fff;
  border: none;
  cursor: pointer;
}

.mb-3 {
  position: relative;
}
.mb-3 .cpy:hover {
  color: #2c3333;
}

.mb-3 .cpy {
  position: absolute;
  right: 2px;
  top: 28px;
  width: 30px;
  height: 35px;
  color: #0a0a0a;
  background: #e9ecef;
  border: none;
  cursor: pointer;
}

.copy button:hover {
  color: #2c3333;
}

/* nav buttons */

.nav-buttons {
  position: relative;
  width: 100%;
  padding: 20px;
}

.prev-button {
  position: absolute;
  background-color: #7286d3;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-size: 80%;
  height: 30px;
  padding: 0 25px;
  text-align: center;
  width: 20%;
  left: 20%;
}
.next-button {
  position: absolute;
  background-color: #7286d3;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-size: 80%;
  height: 30px;
  padding: 0 25px;
  text-align: center;
  width: 20%;
  right: 20%;
}

.sso-link {
  color: #00235b;
  padding-top: 15px;
}

.check-mark {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #f8faf5;
  margin: 0 auto;
}
.success h1 {
  color: #88b04b;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
.success p {
  color: #404f5e;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 0;
}
.success i {
  color: #9abc66;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}
.success {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
}

.card {
  padding:  5px;
}